# Generated with Atomizr v0.14.0 - https://github.com/idleberg/atomizr
'.source.lisp':
  'par':
    'prefix': 'par'
    'body': """
      (defparameter *${1:name}* ${2:value}
      	\"${3:Documentation for $1.}\")
    """
